{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}
<div class="container">
{{=A(H3(I(_class='icon-building icon-white'),' Clientes'), _href=URL('default','clientes', vars=dict()), _class="btn btn-large btn-primary")}}
{{=A(H3(I(_class='icon-calendar icon-white'),' Agenda'), _href=URL('default','clientes', vars=dict()), _class="btn btn-large btn-primary")}}
{{=A(H3(I(_class='icon-group icon-white'),' Convenios'), _href=URL('default','convenios', vars=dict()), _class="btn btn-large btn-primary")}}
{{=A(H3(I(_class='icon-time icon-white'),' Jornadas laborales'), _href=URL('gestion','jornadas'), _class="btn btn-large btn-primary")}}
</div>
<br>
<div class="container">
  <div class="span10">
    <ul class="icons">
      <li><i class="icon-ok"></i> <strong>Clientes</strong></li>
      Aqui puede agregar clientes nuevos, y operar con los existentes, informacion, personal contrado y bajas, agenda y liquidacion de sueldos.
      <li><i class="icon-ok"></i> <strong>Agenda</strong></li>
      Agenda de actividades, compromisos y vencimiento de pagos
      <li><i class="icon-ok"></i> <strong>Convenios</strong></li>
      Convenios colectivos de trabajo que elijen los clientes para su personal
      <li><i class="icon-ok"></i> <strong>Escalas salariales</strong></li>
      Escalas salariales historicas y vigentes para la liquidacion de sueldos.
      <li><i class="icon-ok"></i> <strong>Jornadas laborales</strong></li>
      Detalle de jornadas laborales por turnos, completas o fraccion
    </ul>
  </div>
</div>
