;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Jan 31 16:21:39 2013
;; Desktop file format version 206
;; Emacs version 24.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/marco/projects/contabilidad/web2py/applications/sueldos/.git/config"
  "config"
  'conf-unix-mode
  '(abbrev-mode auto-complete-mode rainbow-delimiters-mode linum-mode autopair-mode)
  144
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

